Repository pocolifo/obfuscator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-annotations, publish-engine, publish-cli, publish-gradle-plugin

publish-annotations:
  stage: publish
  script:
  - gradle com.pocolifo.obfuscator.annotations:build
  - gradle com.pocolifo.obfuscator.annotations:publishMavenPublicationToGitlabRepository

publish-engine:
  stage: publish
  script:
  - gradle com.pocolifo.obfuscator.engine:build
  - gradle com.pocolifo.obfuscator.engine:publishMavenPublicationToGitlabRepository

publish-cli:
  stage: publish
  script:
  - gradle com.pocolifo.obfuscator.cli:build
  - gradle com.pocolifo.obfuscator.cli:publishMavenPublicationToGitlabRepository

publish-gradle-plugin:
  stage: publish
  script:
  - gradle com.pocolifo.obfuscator.gradleplugin:build
  - gradle com.pocolifo.obfuscator.gradleplugin:publishObfuscatorPluginPluginMarkerMavenPublicationToGitlabRepository
  - gradle com.pocolifo.obfuscator.gradleplugin:publishPluginMavenPublicationToGitlabRepository
  ...

Fix & make publish pipelines run only on tag
  .gitlab-ci.yml
Due: none

Add maven-publish
  com.pocolifo.obfuscator.cli/build.gradle
Due: publish-cli

Fix test project
  com.pocolifo.obfuscator.testproject/build.gradle
  com.pocolifo.obfuscator.testproject/settings.gradle
Due: none

Add libraries at task action time
  com.pocolifo.obfuscator.gradleplugin/src/main/java/com/pocolifo/obfuscator/gradleplugin/ObfuscatorGradlePlugin.java
  com.pocolifo.obfuscator.gradleplugin/src/main/java/com/pocolifo/obfuscator/gradleplugin/tasks/ObfuscateTask.java
Due: publish-gradle-plugin

Various engine improvements and bug fixes
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/ObfuscatorOptions.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/AbstractMethodPass.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/bytecodescrambler/BytecodeScramblerOptions.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/bytecodescrambler/BytecodeSequenceScrambler.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/obfannotations/RemoveObfuscatorAnnotationsPass.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/remapping/mapping/MappingLoader.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/remapping/remapper/JarMappingRemapper.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/remapping/remapper/ParameterEnhancedMethodRemapper.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/passes/synthetic/SyntheticAccChanger.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/util/ObfAnnotationsUtil.java
  com.pocolifo.obfuscator.engine/src/main/java/com/pocolifo/obfuscator/engine/util/obfstring/TwoLetterObfuscatedStringSupplier.java
Due: publish-engine

Attempt to fix CI running unecessarily
  .gitlab-ci.yml
Due: none

Path conditions:
  publish-annotations: any of: com.pocolifo.obfuscator.annotations/**/*
  publish-engine: any of: com.pocolifo.obfuscator.engine/**/*
  publish-cli: any of: com.pocolifo.obfuscator.cli/**/*
  publish-gradle-plugin: any of: com.pocolifo.obfuscator.gradleplugin/**/*
